.header {
    letter-spacing: 1px;
    padding: 100px 100px;
    background: #152293;
    color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button-outer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.action-button {
    padding: 22px 42px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #000;
    opacity: 0.9;
    transition: opacity linear 0.2s;
}

.action-button:hover {
    opacity: 1;
}
