.header {
    letter-spacing: 1px;
    padding: 100px 120px;
    background-color: #15229355;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.header__mars {
    position: absolute;
    left: -200px;
    top: -200px;
    z-index: 0;
    animation: rotation 120s linear infinite;
}

.header__rocket {
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50px;
    bottom: 50px;
    z-index: 0;
}

.header__moon {
    position: absolute;
    right: -200px;
    bottom: -200px;
    z-index: 0;
    animation: rotation 120s linear infinite;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.header__button-outer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.action-button {
    padding: 22px 42px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #000;
    opacity: 0.9;
    transition: opacity linear 0.2s;
    text-decoration: none;
}

.action-button:hover {
    opacity: 1;
}

.scrolling-block {
    background-color: #FFC46D;
    overflow: hidden;
    height: 160px;
    color: #fff;
}

.headings-outer {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    animation: heading-move 10s linear infinite;
}

@keyframes heading-move {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.moving-heading {
    font-size: 2.5rem;
    margin: 0 100px 0 100px;
    white-space: nowrap;
    text-transform: uppercase;
}

.form-outer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #66A1D955;
}

.team-form {
    display: flex;
    justify-content: center;
    color: #fff;
    max-width: 800px;
    width: 100%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.team-form__inner {
    max-width: 500px;
    width: 100%;
}

.pre-registration-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: block;
    margin-bottom: 20px;
}

.input-text {
    display: block;
}

.text-field {
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.ticket-button-outer {
    display: flex;
    justify-content: center;
}

.ticket-button {
    display: block;
    border: none;
    border-radius: 8px;
    padding: 12px 21px;
    cursor: pointer;
    background-color: #FFC46D;
    box-shadow: 0 0 6px #FFC46D;
    color: #fff;
    text-transform: uppercase;
}

.ticket-button:active {
    transform: scale(0.9);
}

.ticket-button:disabled {
    background-color: gray;
}


@media (max-width: 1439px) {
    .header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__inner {
        flex-direction: column;
    }
    .header__image-outer {
        display: none;
    }
    .header__rocket {
        display: inline;
    }
    .header__mars, .header__moon {
        animation: none;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 3.2rem;
    }
    .header {
        padding: 100px 0;
    }
    .header__rocket {
        display: none;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.3rem;
    }
    .moving-heading {
        font-size: 2rem;
    }
    .header__mars {
        left: -250px;
        top: -250px;
    }
    .header__moon {
        right: -250px;
        bottom: -250px;
    }
    .action-button {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 100px 20px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
